/* ---------------------------------------------------------------------- */
/* ----------------------GLOBAL STYLING-------------------------------- */
/* ------------------------------------------------------------------- */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #575757;
}
a{
    text-decoration: none;
    color: #575757;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

#pageContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 56px;
    transition: all 1s ease;
}
#pageLoading{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}
.pre-animation {
    opacity:0;
    max-height: 0;
}
.show{
      display: block !important;
  }
.disabled{
    color: grey;
    box-shadow: none;
    opacity: 0.5;
}
.img-cont {
    display: flex;
    align-content: center;
    border-radius: 8px 8px 0px 0px;
}

.center-vertically {
    display: flex;
    align-content: center;
    position: relative;

}

.icon-container {
    width: 24px;
    position: relative;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10)
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.scroll-container {
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;
}

.scroll-inner {
    display: flex;
}
.cover-img{
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}
/* ---------------------------------------------------------------------- */
/* ----------------------Loading bars-------------------------------- */
/* ------------------------------------------------------------------- */
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .loading-bar {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    animation: loading 1s ease infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: #333333;
    animation-delay: 0.2s;
  }
  .loading-bar:nth-child(3) {
    background-color: #3498db;
    animation-delay: 0.4s;
  }
  .loading-bar:nth-child(4) {
    background-color: #333333;
    animation-delay: 0.6s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(2, 2);
    }
    100% {
      transform: scale(1);
    }
  }
/* ---------------------------------------------------------------------- */
/* ----------------------Responsive Grid-------------------------------- */
/* ------------------------------------------------------------------- */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-offset-4{
    margin-left: 33.33%;
}
.col-offset-6{
    margin-left: 50%;
}
.col-offset-8{
    margin-left: 66.66%;
}
.col-offset-12{
    margin-left: 100%;
}
@media only screen and (max-width: 500px) {
    .col-es-1 {
        width: 25%;
    }
    .col-es-2 {
        width: 50%;
    }
    .col-es-3 {
        width: 75%;
    }
    .col-es-4 {
        width: 100%;
    }
    .col-offset-es-1 {
        margin-left: 25%;
    }
    .col-offset-es-2 {
        margin-left: 50%;
    }
    .col-offset-es-3 {
        margin-left: 75%;
    }
    .col-offset-es-4 {
        margin-left: 100%;
    }
    #pageContent {
        padding: 16px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .col-offset-s-3{
        margin-left: 25%;
    }
    .col-offset-s-4{
        margin-left: 33.33%;
    }
    .col-offset-s-6{
        margin-left: 50%;
    }
    .col-offset-s-8{
        margin-left: 66.66%;
    }
    .col-offset-s-12{
        margin-left: 100%;
    }
    #pageContent {
        padding: 24px;
    }
}

@media only screen and (min-width: 901px) {

    /* For desktop: */
    #pageContent {
        padding: 36px;
        max-width: 1200px;
        margin: 55px auto;
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.hide{
    display: none;
}
.center{
    margin: auto;
}
/* ---------------------------------------------------------------------- */
/* ---------------------------Bottom NAV-------------------------------- */
/* ------------------------------------------------------------------- */
#bottomNavBar {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    bottom: 0;
    background-color: white;
}

.bottomNavElm {
    color: #575757;
    margin: 0px 15px;
}

.active {
    color: #436885;

}

.centerElm {
    background-color: #436885;
    text-decoration: none;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16), 0 0px 10px rgba(0, 0, 0, 0.23);
}

.centerElm i {
    color: white;

}

/* ---------------------------------------------------------------------- */
/* -----------------------------TOP NAV-------------------------------- */
/* ------------------------------------------------------------------- */
#topNavBar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}

.ancElm {
    color: #575757;
}

.navTitle {
    color: #436885;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Tenor sans', sans-serif;
    justify-content: center;
    margin: 0px 20px;
    text-align: center;
}

.navMenu {
    justify-self: flex-start;
    margin-left: 15px;
}

.navSearch {
    margin-right: 15px;
    margin-left: 15px;
}

.navFav {
    margin-left: auto;
}

.deskItems {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0 15px;
    display: none;
}

/* ---------------------------------------------------------------------- */
/* -----------------------------Big CARD-------------------------------- */
/* ------------------------------------------------------------------- */
.card-asset-type,
.card-asset-loc {
    color: #436885;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
}

.card-asset-icon {
    color: #436885;
}

.icon-container i {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-asset-detail {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #575757;
}

.card-asset-desc {
    margin: 5px 0;
    font-weight: bold;
    color: #575757;
}

.card-asset-img {
    height: 250px;
    background-position: center;
    background-size: cover;
}

.card-asset {
    border-radius: 8px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.23);
    padding-bottom: 20px;
}

.card-asset-content {
    padding: 0px 20px;
}

.card-outer-space {
    padding: 8px 8px;
}

/* ---------------------------------------------------------------------- */
/* -----------------------------NAV drawer----------------------------- */
/* ------------------------------------------------------------------- */
#navigation-drawer {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.16);
    z-index: 2;
    display: none;
    overflow: scroll;
    position: fixed;
}

.no-scroll {
    overflow: hidden;
}

.show-drawer {
    display: block !important;
}

#drawer-container {
    height: 100vh;
    overflow-y: scroll;
    background-color: #ffffff;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.20);
    padding: 20px;

}
.inner-drawer{
    height: 800px;
}
.drawer-profile-pic {
    border-radius: 50%;
}

.drawer-header {
    font-weight: 100;
    margin: 5px 0px;
}

.drawer-subtitle {
    margin: 5px 0px;
}

.drawer-item-title {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #575757;
}

.drawer-item-container {
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 0px 10px;
    margin-top: 5px;
    border-radius: 8px;
}

.drawer-item-container:hover {
    background-color: rgba(81, 127, 164, 0.10)
}

.drawer-test {
    height: 800px;
    width: 100%;
}

/* ---------------------------------------------------------------------- */
/* ----------------------Landing container---------------------------- */
/* ------------------------------------------------------------------- */
.landing-Container {
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    position: relative;
    display: none;
}

.landing-head,
.landing-subtitle {
    color: #575757;
}

.landing-content {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8%;
    max-width: 340px;
}

.landing-label {
    color: #436885;
    text-transform: uppercase;
    margin: 10px 0px;
}

.landing-search-bar {
    padding: 5px 10px;
    margin: 5px 0px 10px 0px;
    height: 35px;
    width: calc(100% - 24px);
    border-color: #436885;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    color: #436885;
}

.landing-search-bar input {
    border: none;
}

.landing-select-menu {
    height: 40px;
    border-width: 1px;
    border-color: #436885;
    border-radius: 4px;
    color: #436885;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    background-color: transparent;
}

.landing-search-button {
    text-align: center;
    background-color: #436885;
    border: none;
    height: 45px;
    color: white;
    border-radius: 4px;
    padding: 8px 0px;
    margin-left: auto;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-right: auto;
    justify-content: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

}

/* ---------------------------------------------------------------------- */
/* --------------------------Home Page---------------------------------- */
/* ------------------------------------------------------------------- */

/* CITY CARD */

.city-card {
    width: 140px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-right: 15px;
}

.city-card-head,
.city-card-subhead {
    margin-left: 10px;
}

.city-card-img {
    height: 80px;
    background-position: top;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
}

/* News Card */
.news-card-scroll {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-right: 15px;
    width: 300px;
}
.news-card{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding-bottom: 1px;
}
.news-outer-space{
    padding: 5px;
}
.news-card-img {
    height: 200px;
    background-position: top;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
}

.news-card-head,
.news-card-desc {
    height: auto;
    /* height cannot be defined */
    word-break: normal;
    white-space: normal;
    margin: 20px 10px;
}
.news-card-button{
    border: none;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
    background-color: transparent;
    margin: 0px 0px 10px 10px;
    color: #436885;
    cursor: pointer;
    font-size: 14px;
}
.search-bar-input{
    padding: 0;
    border: 0;
}
.search-bar-container{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    padding: 11px 0px;
}
.search-bar-button {
    text-align: center;
    
}
.search-bar-button i {
    margin-top: 4px;
}
/* ---------------------------------------------------------------------- */
/* --------------------------Fav and Like Page-------------------------- */
/* ------------------------------------------------------------------- */
.fav-card{
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}
.fav-card h4, .fav-card p,.fav-card button{
    margin-left: 20px;
}
/*Styling Details Buttons*/
.fav-details-button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 0px;
}
.fav-details-text{
    font-family: "Roboto", sans-serif;
    color: #436885;
}
.fav-img {
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}
/* ---------------------------------------------------------------------- */
/* ------------------------------MY Posts Page-------------------------- */
/* ------------------------------------------------------------------- */
.posts-card{
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}
.posts-card h4, .posts-card p,.posts-card button{
    margin-left: 20px;
}
.offerStatusApproved{
    color: #67C95A;
}
.posts-img{
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}
.posts-details-button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 0px;
}
.posts-details-text{
    font-family: "Roboto", sans-serif;
    color: #436885;
}
/* ---------------------------------------------------------------------- */
/* --------------------------House detail Page-------------------------- */
/* ------------------------------------------------------------------- */
.house-detail-desc{
    font-family: "Roboto", sans-serif;
    white-space: pre-line;
}
.house-detail-slideshow-imgs img{
    width: 100%;
}
.house-detail-slideshow-thumbnails img{
    width: 100%;
}
.house-detail-installment-button button{
    margin: 20px;
}
.house-detail-installment-detail span{
    font-weight: bold;
    color: #436885;
}
.house-detail-square-price{
    color: #436885;
    font-size: 12px;
    margin: 5px 40px;
}
.house-detail-installment-button button{
    background-color: transparent;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
    color: #436885;
    border-radius: 4px;
    border: 2px solid;
    padding: 0px;
}
.house-detail-payment-method{
    text-align: center;
    color: #436885;
    font-size: 14px;
    border: 2px solid;
    margin-left: 5px;
    margin-right:5px;
    padding: 5px; 
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    max-width: 90px;
}

.house-detail-price{
    font-weight: bold;
    font-size: 14px;
}
.house-detail-price-icon{
    color: #436885;
    margin-top: 14px;
}
.house-detail-seller-phone-button{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #436885;
    background-color: transparent;
    border: 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 0;
    border-radius: 4px;
}
.house-detail-seller-phone{
    text-align: center;
    color: #436885;
    font-size: 16px;
}
.house-detail-seller-detail h4, .house-detail-seller-detail h5{
    margin: 10px 0px;
}

.more-news-container .news-outer-space{
    width: 100%;
}
@media only screen and (max-width: 500px) {
    /* mobile break points */
    .fav-img {
        width: 80px;
        height: 80px;
    }
    .posts-img {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
    /* Tablet breakpoints */
    .fav-img {
        width: 80px;
        height: 80px;
    }
    .posts-img {
        width: 80px;
        height: 80px;
    }
    .cover-img{
        height: 300px;
    }
}

@media only screen and (min-width: 901px) {
    /* For desktop: */

    /* TOP NAV STYLING */
    #topNavBar {
        box-shadow: none;
    }

    .deskItems {
        display: inline;
    }

    .navFav {
        display: none;
    }

    .navSearch {
        margin-left: auto;
    }

    /* BOTTOM NAV STYLING */
    #bottomNavBar {
        display: none;
    }

    .landing-Container {
        display: block;
    }
    .inner-padding{
        padding: 0px 15px;
    }
    .cover-img{
        height: 400px;
    }
    
}