<h2>Advices</h2>
    <div class="cover-img" style="background-image: url('../img/place-holders/advice.jpg')">

    </div>

        <p>
                Buying your first home is both an exciting and a stressful experience. The joy of owning your own
                home can sometimes be overshadowed by the concerns that come with acquiring the associated debt.</p>
                <p>
                    If you get prequalified for mortgage finance, you’ll know what you can afford, and you’ll be in
                    a stronger position to make an offer when you find the perfect home.</p>
            
            <p>
                Rhys Dyer, CEO of ooba, South Africa’s biggest bond originator, has these ten tips to take the pain
                out of the process:</p>
                <p>
                    <strong>Save up for a deposit</strong>. This is one of the most important things you can do to
                    help yourself obtain a bond at a good rate. The more money you put in at the beginning, the
                    less you will owe and the more inclined a bank will be to take a risk on you.<br>
                    &nbsp;</p>
                <p>
                    <strong>Be certain of what you can afford</strong>. The amount of credit the bank will give you
                    depends on how much you earn, your expenses and the leftover disposable income you have to
                    service the debt. Most banking and bond originator websites have a home loan calculator which
                    will work out how much you can afford. Use these and then limit your searches to properties in
                    the recommended price range.<br>
                    &nbsp;</p>
                <p>
                    <strong>Get prequalified</strong>. If you get prequalified for mortgage finance, you’ll know
                    what you can afford, and you’ll be in a stronger position to make an offer when you find the
                    perfect home. ooba’s prequalification service – oobaqualified – takes this a step further, and
                    helps you to work on your affordability and credit rating if you fall short of the banks’
                    requirements.<br>
                    &nbsp;</p>
                <p>
                    <strong>Seek professional advice</strong>. Listen to your friends and family, but also seek the
                    help of a reputable bond originator, who are experts in home finance and bond applications, and
                    will give you free, impartial advice.<br>
                    &nbsp;</p>
                <p>
                    <strong>Shop around for your home</strong>. Spend some time educating yourself about what’s
                    available in the market. Don’t buy in haste, without considering the alternatives. When you
                    have a sense of what’s out there, you’ll be able to make better decisions as an informed buyer.<br>
                    &nbsp;</p>
                <p>
                    <strong>Shop around for a bond</strong>. Don’t just snap up the first bond offer you receive
                    from the first bank you apply to. Another bank might offer you a better deal. A reputable bond
                    originator will apply to multiple banks for your home loan simultaneously, ensuring that you
                    get the best deal at no extra cost to you, with less hassle and paperwork.<br>
                    &nbsp;</p>
                <p>
                    <strong>Understand all the costs </strong>involved upfront, like levies and transfers fees. If
                    you haven’t prepared for these, you could be in for a nasty surprise.<br>
                    &nbsp;</p>
                <p>
                    <strong>Be aware of the hidden costs and defects of any property</strong>. Look out for
                    anything that is not working properly, from faulty wiring to subsiding walls. If you want to
                    make an offer, bring in a specialist to inspect plumbing, electrics and structure, with
                    particular attention to the roof. If he uncovers something, it doesn’t necessarily mean you
                    won’t buy the property, but it puts you in a position to negotiate on the price.<br>
                    &nbsp;</p>
                <p>
                    <strong>Repay as much as you can into your bond every month.</strong> By just putting in a few
                    extra hundred Rand a month you can save yourself thousands over a 20-year bond term.<br>
                    &nbsp;</p>
                <p>
                    <strong>Know the difference between occupation and possession.</strong> It is not your house
                    until the transfer is registered at the Deeds Office. If you spend money on alterations before
                    this happens, you could lose all the money you spent if the transfer doesn’t go through.</p>
            
            <p>
                “By becoming an informed buyer, you will place yourself in a position of confidence as you make the
                biggest financial commitment of your life,” says Dyer.</p>
