<!-- Mobile layout is divided by 4 columns not 4 like the rest -->
<div class="fav-container col-es-4 col-s-6 col-4">
    <div class="row">
        <div class="col-8">
            <div>
                <h4>Nasr City</h4>
                <p>Super Lux apartment in nasrcity overlooking makram ebid street</p>
                <button class="fav-details-button"><span class="fav-details-text">Details</span></button>
            </div>
        </div>
        <div class="col-4">
            <div>
                <img class="fav-img" style="background-image: url(./img/place-holders/5.jpg)">
            </div>
        </div>
    </div>
</div>