<div class="house-detail-container row">
    <div class="col-8 col-s-12 col-es-4">
        <div class="house-detail-slideshow">
            <div class="house-detail-slideshow-imgs">
                <img src="./img/place-holders/1.jpg" alt="Image describes the house">
                <!-- <img src="./img/place-holders/2.jpg" alt="Image describes the house">
                <img src="./img/place-holders/3.jpg" alt="Image describes the house">
                <img src="./img/place-holders/4.jpg" alt="Image describes the house">
                <img src="./img/place-holders/5.jpg" alt="Image describes the house"> -->
            </div>
            <!-- <div class="house-detail-slideshow-thumbnails">
                <img src="./img/place-holders/1.jpg" alt="Image describes the house">
                <img src="./img/place-holders/2.jpg" alt="Image describes the house">
                <img src="./img/place-holders/3.jpg" alt="Image describes the house">
                <img src="./img/place-holders/4.jpg" alt="Image describes the house">
                <img src="./img/place-holders/5.jpg" alt="Image describes the house">
            </div> -->
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p class="card-asset-type">apartment</p>
                </div>
                <div class="col-6 center-vertically">
                    <div class="icon-container">
                        <i class="material-icons vertical-center card-asset-icon">location_on</i>
                    </div>
                    <p class="card-asset-loc">nasr city</p>
                </div>
            </div>
            <div class="row">
                <p class="card-asset-desc col-9">
                    Super Lux apartment in nasrcity
                    overlooking makram ebid street
                </p>
                <div class="icon-container col-3">
                    <i class="material-icons vertical-center card-asset-icon">favorite</i>
                </div>
            </div>
            <h4>Details</h4>
            <pre class="house-detail-desc">
                        An outstanding apartment locating in middle of nasr
                        city, SUPER LUX, and fully furnished.
                        
                        details: 
                        * 3bedrooms.
                        * 2 living rooms.
                        * 2 bathrooms.
                        * big balcony.
                        * 160 square meter
                        * Laundry room.
                        * Ikea furnishing.
                        * Luxurious entrance.
                        * 3 elevators.
                        * 2 private parking spots.
                        * 1 dining room.
                        * big, well equipped kitchen.
                        
                </pre>

        </div>
        
    </div>
    <div class="col-4 col-s-12 col-es-4">
            <h4 class= "padding">Price and payment:</h4>
            <div class="row padding">
                <div class="col-6">
                    <div class="row">
                            <div class="house-detail-price-icon">
                                    <i class="material-icons">attach_money</i>
                            </div>
                            
                            <p class="house-detail-price">1,600,000 EGP</p>
                    </div>  
                    <p class="house-detail-square-price">10,000EGP/Sq.M</p>
                </div>
                <div class="col-6">
                    <div class="row">
                            <div class="col-6">
                                    <h6 class="house-detail-payment-method disabled">cash</h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="house-detail-payment-method">installs</h6>
                                </div>
                    </div>
                    
                </div>
            </div>
            <h4 class= "padding">Installments details:</h4>
            <div class="row padding">
                <div class="col-6">
                    <p class="house-detail-installment-detail"><span>Period: </span>1-7Years.</p>
                    <p class="house-detail-installment-detail"><span>interest: </span>2-14%</p>
                </div>
                <div class="col-6 house-detail-installment-button center-vertically">
                    <button class="col-12 ">Installment Calculator</button>
                </div>
            </div>
            <h4 class="padding">Details</h4>
            <div class="row padding">
                <div class="col-6 center-vertically">
                    <div class="icon-container">
                        <i class="material-icons vertical-center card-asset-icon">local_hotel</i>
                    </div>
                    <p class="card-asset-detail">3 Bedroom</p>
                </div>
                <div class="col-6 center-vertically">
                    <div class="icon-container">
                        <i class="material-icons vertical-center card-asset-icon">weekend</i>
                    </div>
                    <p class="card-asset-detail">2 Livingroom</p>
                </div>
            </div>
            <div class="row padding">
                <div class="col-6 center-vertically">
                    <div class="icon-container">
                        <i class="material-icons vertical-center card-asset-icon">settings_overscan</i>
                    </div>
                    <p class="card-asset-detail">160 Sq.m</p>
                </div>
            </div>
            <div class="row padding">
                    <button class="house-detail-seller-phone-button col-12 col-offset-es-1 col-es-2  col-offset-s-3 col-s-6">Display seller's phone</button>
            </div>
            <div class="house-detail-seller-detail row padding">
                <h4>Seller phone:</h4>
                <h5 class="house-detail-seller-phone col-12 ">01151537797</h4>
            </div>
            <h4 class="padding">Broswe similar real-estate:</h4>
            <div class="house-detail-similar-houses row">

            </div>
        </div>
</div>