<div class="news-detail-container col-12">
    <div class="row">
        <div class="col-8 col-s-12 col-es-4">
            <div class="row">
                <div class="col-12 cover-img" style="background-image:url('./img/place-holders/news.jpg')"></div>
                <h2 class="col-12">New project in the new capital</h2>
                <p class="col-12">February 13, 2019</p>
                <p class="col-12">As part of the country’s efforts to support financial inclusion, Egypt is planning to make the New Administrative Capital the first cashless city in the country, according to the State Information Service.

                        Minister of Communications and Information Technology Amr Talaat met with the vice chairman and president of strategic growth at Mastercard, Michael Froman, to set out plans for the company’s investment in Egypt in the field of electronic government payments.
                        
                        Talaat stressed in the meeting on Egypt’s plans to turn into a cashless society and the importance of benefiting from the company’s experiences.
                        
                        He added that such plans  should encourage e-commerce, which is currently increasing in trade activities, and to make Egypt a regional hub for such cross-world industry.</p>
            </div>
        </div>
        <div class="col-4 col-s-12 col-es-4">
            <div class="row">
                <div class="inner-padding">
                        <h2 class="col-12">Browse similar news:</h2>
                        <div class="more-news-container"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
