<div class="login-modal-content">
    <h2>LOG IN</h2>
    <form action="" method="post">
        <label for="login-email">E-mail</label>
        <input class="modal-input modal-email" type="email" name="login-email" id="login-email" placeholder="Email">
        <label for="login-password">Password</label>
        <input class="modal-input modal-password"type="password" name="login-password" id="login-password" placeholder="Password">
        <label for="file">Choose a file</label>
        <input type="file" id="file"name="pic" accept=".jpg, .jpeg" capture="camera">
        <p><strong>Invalid Email or Password.</strong> Please check your info is 
                correctly writtern.</p>
        <button type="submit" class="modal-submit col-5 col-offset-7">Next</button>
    </form>
    </div>