<div class="login-modal-content">
    <h2>Register</h2>
    <form action="" method="post">
        <label for="reg-name" class="error-color">Name:</label>
        <input class="modal-input reg-name error-border" type="text" name="reg-name" id="reg-name" placeholder="your name, ex: Ahmed Tamer">
        <label for="reg-number">Phone number:</label>
        <input class="modal-input reg-number" type="email" name="reg-number" id="reg-number" placeholder="your phone number, ex: 012345678">
        <label for="reg-email">Email:</label>
        <input class="modal-input reg-email" type="email" name="reg-email" id="reg-email" placeholder="Email">
        <label for="reg-password">Password: </label>
        <input class="modal-input reg-password" type="password" name="reg-password" id="reg-password" placeholder="Password">
        <label for="reg-repassword">Re-type password: </label>
        <input class="modal-input reg-repassword" type="Password" name="reg-repassword" id="reg-repassword" placeholder="retype Password">
        <label for="file">Upload profile pic.</label>
        <input type="file" id="file"name="pic" accept=".jpg, .jpeg" capture="camera">
        <p class="error-color"><strong>Invalid Email or Password.</strong> Please check your info is 
                correctly writtern.</p>
        <button type="submit" class="modal-submit col-5 col-offset-7">Regiter</button>
    </form>
    </div>