<section class="search-page col-12">
    <div class="search-bar-container col-es-4 col-s-12 col-6 center">
        <div class="search-bar-inner row">
            <a role="button" onclick="previousPage()" class="search-bar-button col-2">
                <i class="material-icons">keyboard_backspace</i>
            </a>
            <input type="text" class="search-bar-input col-8" placeholder="Ex: nasrcity">
            <a role="button" onclick = "openModal(searchFilet)" class="search-bar-button col-2"><i class="material-icons">tune</i></a>
        </div>
    </div>
    <p class="search-result">345 results found</p>
    <h4 class="search-header">
        Explore Cities
    </h4>
    <div class="scroll-container col-12">
        <div class="search-explore-card-inner scroll-inner">

        </div>
    </div>
    <h4 class="search-header">
        Results:
    </h4>
    <div class="search-result-card-inner row">

    </div>
</section>